body {
  background-image: url(../assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% auto; 
  background-position: top center; 
  background-attachment: fixed;
  background-color: hsl(205, 46%, 92%);
  font-family: 'Ubuntu', sans-serif;
}

h1{
  color: hsl(213, 96%, 18%);
}

h4{
  color: hsl(213, 96%, 18%);
  margin: 0%;
}

h5{
  margin: 2%;
  color: gray;
  font-weight: lighter;
  display: inline-block;
  margin-left: 1%;
}

hr{
  border: solid gray 1px;
  margin: 5%;
}

label{
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

p{
  color: grey;
}

input{
  margin-bottom: 3%;
  cursor: pointer;
  padding: 2%;
  width: 70%;
}

.headerWrapper{
  display: block;
  width: 90%;
  margin: 5% 10% 0% 10%;
}

.headerWrapperDesktop{
  display: none;
}

.headerBubbles{
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 100%;
  border: white solid 1.5px;
  color: white;
  margin: 2% 5% 0% 5%;
  padding: 4%;
  width: 1rem; 
  height: 1rem;
}

.card1, .card2, .card3, .card4, .card5{
  width: 70%;
  border-radius: 5%;
  z-index: 1;
  background-color: white;
  margin: 15% 10% 0% 10%;
  line-height: 25px;
  padding: 5%;
}

.card3{
  margin: 5% 10% 0% 10%;
}

.card5{
  text-align: center;
  padding: 10%;
  margin: 10% 5% 0% 5%;
}

.step1Error{
  color: red;
  display: inline;
  margin-left: 0%;
}

.step2Btn{
  display: block;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  background-color: white;
  margin-bottom: 5%;
}

#step2Offer{
  margin-left: 15%;
  font-weight: bolder;
  color: hsl(213, 96%, 18%);
  text-align: center
}

.step2Btn svg{
  float: left;
  margin-right: 0%;
}

.step2Btn h4, .step2Btn p{
  margin: 3%;
}

.step2Btn:hover{
  background-color: aliceblue;
}

.step2BtnSelected{
  border-color: hsl(213, 96%, 18%);
  background-color: hsl(228, 100%, 84%);
}

.sliderParent {
  background-color: hsl(227, 85%, 92%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.sliderLabel {
  color: hsl(213, 96%, 18%);
  font-weight: bolder;
  flex: 1;
  text-align: center;
}

.slider {
  flex: 0.3;
  position: relative;
  height: 10px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 5px;
  margin-top: 1px;
}

#sliderHandle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: left 0.2s ease-in-out;
}

.step3Btn{
  display: block;
  width: 100%;
  background-color: white;
  padding: 3%;
  margin: 5% 0% 5% 0%;
  border: gray solid 0.1px;
  border-radius: 3%;
}

.step3BtnDetails{
  float: right;
}

.step3BtnCheck{
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  float: left;
  background-color: white;
  width: 20px;
  height: 20px;
  border: gray solid 0.1px;
}

.step3BtnHeading{
  float: left;
  margin: 2%;
  display: inline-flex;
  color: hsl(213, 96%, 18%);
}

.step3BtnSubHeading{
  float: left;
  margin: 2%;
  display: inline-flex;
  color: gray;
}

.step3BtnPrice{
  float: right;
  color: hsl(228, 100%, 84%);
}

.planSummaryBox{
  background-color: hsl(208, 65%, 95%);
  color: hsl(213, 96%, 18%);
  padding: 5%;
  margin-bottom: 5%;
}

#changePlanBtn{
  color: gray;
  text-decoration: underline;
  border: none;
  background-color: hsl(206, 94%, 87%);
  margin: 0%;
  display: inline-block;
  cursor: pointer;
}

.step4PlanName{
  display: inline-flex;
  float: left;
}

#planValue{
  display: inline-flex;
  float: right;
}

.step4AddOnValue{
  display: inline;
  float: right;
  color: hsl(213, 96%, 18%);
}

.step4Total{
  margin: 5%;
  color: gray;
  font-weight: bold;
  display: inline;
}

.step4TotalValue{
  display: inline;
  margin-left: 25%;
  color: hsl(243, 100%, 62%);
}

.next{
  position: fixed;
  display: block;
  background-color: white;
  width: 90%;
  bottom: 0%;
  padding: 5%;
}

.goBackBtn{
  margin-top: 4%;
  color: gray;
  border: none;
  background-color: white;
}

.nextBtn{
  background-color: hsl(213, 96%, 18%);
  color: white;
  padding: 2%;
  width: 25%;
  font-size: large;
  float: right;
}

.nextBtnDesktop, .goBackBtnDesktop{
  display: none;
}

/* Desktop CSS */

@media only screen and (min-width: 700px) {
  body{
    background: none;
    background-color: white;
    overflow: hidden;
  }
  .headerWrapperDesktop{
    display: block;
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    height: 87vh;
    float: left;
    padding: 2%;
    border-radius: 3%;
    width: 15%;
    margin: 1% 0% 0% 1%;
  }
  .headerWrapper{
    display: none;
  }
  .headerBubblesDesktop{
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 100%;
    border: white solid 1.5px;
    color: white;
    margin: 2% 5% 0% 5%;
    padding: 4%;
    width: 1rem; 
    height: 1rem;
  }
  .sideHeaderDetails {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    margin: 0% 0% 2% 2%;
  }
  .headerStep{
    width: 100%;
    color: white;
    margin: 0%;
    font-weight: lighter;
  }
  .headerStepInfo{
    width: 100%;
    color: white;
    margin: 0%;
    margin-top: 2%;
  }
  .card1, .card2, .card3, .card4, .card5{
    width: 50%;
    border-radius: 0%;
    margin: 0% 0% 0% 30%;
    padding: 2%;
  }
  input{
    width: 100%;
    height: 2rem;
  }
  .step2Btn{
    display: inline-block;
    width: 25%;
    margin: 3% 5% 5% 3%;
    padding: 3%;
    cursor: pointer;
  }
  .step2Btn svg{
    float: left;
    margin: 2% 0% 2% 0%;
  }
  #step2Offer{
    margin-left: 30%;
  }
  .sliderParent{
    margin: 2% 0% 5% 0%;
  }
  .step3Btn{
    width: 80%;
    padding: 2%;
    margin: 0% 0% 2% 0%;
    border: gray solid 0.1px;
    border-radius: 2%;
    height: fit-content;
  }
  .step3BtnDetails{
    display: inline-flex;
    flex-direction: column;
    float: left;
    margin: 0% 10% 0% 25%;
  }
  #step3BtnSecond{
    margin-left: 30%;
  }
  .step3BtnHeading{
    margin: 0% 0% 0% 5%;
    justify-content: center; 
    align-items: center; 
  }
  .step3BtnSubHeading{
    display: inline-flex;
    margin: 1%;
  }
  .step3BtnPrice{
    margin: 0%;
  }  
  .planSummaryBox{
    margin-bottom: 3%;
    padding: 3%;
  }
  .step4Total{
    margin: 5%;
    display: inline;
  }
  .step4TotalValue{
    display: inline;
    margin-left: 60%;
    font-size: 1.2rem;
  }
  .thankYouBox{
    margin-top: 20%;
  }
  .next{
    display: none;
  }
  .nextBtnDesktop{
    display: block;
    border-radius: 4%;
    background-color: hsl(257, 89%, 59%);
    color: white;
    padding: 2%;
    width: 25%;
    font-size: medium;
    float: right;
  }
  .goBackBtnDesktop{
    display: inline-block;
    margin-top: 2%;
    color: gray;
    border: none;
    background-color: white;
  }
}